.blogContainer {
  width: 86%;
  margin: 0 auto;
}

.blogHeading {
  text-align: center;
  margin: 200px 0 100px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background-color: white;
  color: black;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 20px;
  width: 25%;
}

.cardImg .cardimage {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.greytxt {
  color: rgb(100, 100, 100);
  letter-spacing: 2px;
}

.cardContent {
  padding: 24px;
}

.blogiconcontainer {
  display: flex;
  justify-content: flex-end;
}

.blogicon {
  width: 30px;
  margin: 5px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .card {
    margin: 22px;
    width: 85%;
  }

  .cards {
    flex-direction: column;
  }
}
