body {
  overflow-x: hidden;
}

.about {
  padding-top: 40px;
}

.aboutSec {
  display: flex;
  margin: 160px 200px;
}

.aboutImg {
  width: 420px;
}

.aboutDes {
  padding: 0 50px;
  line-height: 2rem;
  font-weight: 300;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.listElement {
  list-style-type: none;
  position: relative;
  padding-left: 14px;
  font-weight: 400;
}

.listElement:before {
  content: "\25BA \0020";
  font-size: 6px;
  position: absolute;
  top: 3px;
  left: -10px;
}

@media (max-width: 920px) {
  .aboutSec {
    margin: 160px 40px;
  }
  .aboutDes {
    padding: 0 36px;
  }
}
@media (max-width: 768px) {
  .about {
    padding-top: 140px;
  }

  .aboutSec {
    flex-direction: column;
    margin: 0 30px;
  }

  .aboutImg {
    width: 100%;
  }
  .aboutDes {
    padding: 0 10px;
    line-height: 2rem;
  }
}
